/* estilos gerais */
:root {
  --dark-blue: #35374B;
  --medium-blue: #3a5361;
  --light-blue: #50727B;
  --light-green: #78A083;
  --bg-color: #fff;

  /* fontes */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 500vh;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

.container {
  max-width: 100rem;
  margin: auto;
}

.flex {
  display: flex;
}


/* estilo scroll bar */
::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: var(--medium-blue);
}


/* efeito reveal */
.topo-site,
.efeito-sobre,
.github,
.linkedin,
.efeito-habilidades,
.html,
.css,
.bulma,
.bootstrap,
.javascript,
.typescript,
.react,
.node,
.java,
.mongodb,
.efeito-projetos {
  visibility: hidden;
}


/* estilo header +  nav */
header {
  width: 100%;
  padding: 3rem 4%;
  top: 0;
  left: 0;
  position: fixed;
  transition: 1s;
  z-index: 9999;
}

header.scrolling {
  background-color: var(--bg-color);
  padding: 1.5rem 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.idioma {
  color: var(--medium-blue);
  font-weight: 400;
}

.idioma>p:hover {
  transition: .4s;
  transform: scale(1.1);
}

header a {
  color: var(--medium-blue);
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  position: relative;
}

header nav.menu-desktop a:hover {
  color: var(--dark-blue);
  transform: scale(1.20);
  font-weight: 500;
}

/* header nav.menu-desktop li a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--medium-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease-in-out;
}

header nav.menu-desktop a:hover::after {
  width: 100%;
} */

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
}

header nav.menu-desktop ul span {
  display: inline-block;
  padding: 0 .75rem;
  font-size: 1.5rem;
}


/* estilo main > topo-site */
section.topo-site {
  padding: 20rem 12% 20rem 12%;
}

section.topo-site .txt-topo-site h1 {
  color: var(--medium-blue);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 6rem;
  margin-bottom: 0.75rem;
}

.topo-site .txt-topo-site h1 span {
  color: var(--medium-blue);
  font-size: 4rem;
  font-weight: 500;
}

.topo-site .txt-topo-site h3 {
  color: var(--light-blue);
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.1rem;
}


/* estilo main > sobre */
section.sobre {
  padding: 12rem 8%;
  background: linear-gradient(to bottom right, #50727b7a, #3a5361);
}



section.sobre .flex {
  align-items: center;
  gap: 5rem;
}

.img-sobre img {
  max-width: 85%;
  border-radius: 120px;
  background-color: var(--medium-blue);
  box-shadow: 5px 5px 30px 5px var(--medium-blue);
  /* animation: flutuar 5s ease-in-out infinite alternate; */
}

/* @keyframes flutuar {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 2.5rem;
  }
} */



.sobre .txt-sobre {
  color: var(--bg-color);
}

.sobre .txt-sobre h2 {
  font-size: 3.25rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
}

.sobre .txt-sobre h2 span {
  color: var(--light-blue);
  display: block;
}

.sobre .txt-sobre p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: justify;

  margin-bottom: 1rem;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 99px;
  border: none;
  background-color: var(--bg-color);
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.75rem;
}

.btn-social button:hover {
  transform: scale(1.20);
  transition: 1s;
}

.btn-social button i {
  color: var(--medium-blue);
}


/* estilo main > habilidades */
section.habilidades {
  padding: 12rem 8%;
}

section.habilidades .flex {
  flex-direction: column;
}

section.habilidades .titulo {
  font-weight: 500;
  color: var(--medium-blue);
  text-align: center;
}

section.habilidades h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

section.habilidades h3 {
  border-top: 1px solid var(--medium-blue);
  padding-top: 4rem;
  font-size: 2rem;
  margin: 8rem 0 3rem 0;
}

.skills {
  gap: 3.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills i {
  font-size: 6em;
}

.skills p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills p:hover {
  transition: .4s;
  transform: scale(1.1);
  cursor: pointer;
}

small {
  color: var(--medium-blue);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
}



/* estilo main > projetos */
section.projetos {
  padding: 12rem 8%;
}


section.projetos .flex {
  justify-content: center;
  gap: 8.5rem;
}

section.projetos .titulo {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4.5rem;
  font-weight: 500;
  color: var(--medium-blue);
  text-align: center;
}


.img-port {
  width: 20rem;
  height: 25rem;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 5px var(--medium-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 500;
  color: #3a5361;

  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  transition: .5s;
}



/* efeito main > contato */
section.contato {
  padding: 12rem 8%;
}

section.contato .titulo {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4.5rem;
  font-weight: 500;
  color: var(--medium-blue);
}

form {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.topo-form {}

.topo-form input {
  width: 30rem;
  border: none;
  border-bottom: 1px solid #3a5361;
  padding: 0.75rem;
}

.topo-form input:focus {
  outline: none;
  border-bottom: 2px solid var(--dark-blue);
}

input::placeholder {
  color: var(--medium-blue);

  font-size: 14px;

}