/* estilo header +  nav */
header {
  width: 100%;
  padding: 2.5rem 4%;
  top: 0;
  left: 0;
  position: fixed;
  transition: 1s;
  z-index: 9999;
}

header.scrolling {
  background-color: var(--bg-color);
  padding: 1rem 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--medium-blue);
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  position: relative;
}

header nav.menu-desktop a:hover {
  color: var(--dark-blue);
  transform: scale(1.25);
  font-weight: 500;
  text-decoration: none;
}

/* header nav.menu-desktop li a::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: var(--medium-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease-in-out;
}

header nav.menu-desktop a:hover::after {
  width: 100%;
} */

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
}

header nav.menu-desktop ul span {
  display: inline-block;
  padding: 0 .75rem;
  font-size: 1.5rem;
}


/* estilo main > topo-site */
section.topo-site {
  padding: 18.5rem 12% 15rem 12%;
}

section.topo-site .txt-topo-site h1 {
  color: var(--medium-blue);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 6rem;
  margin-bottom: 0.75rem;
}

.topo-site .txt-topo-site h1 span {
  color: var(--medium-blue);
  font-size: 4rem;
  font-weight: 500;
}

.topo-site .txt-topo-site h3 {
  color: var(--light-blue);
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
}


/* estilo main > sobre */
section.sobre {
  padding: 12rem 12%;
}

section.sobre .flex {
  align-items: center;
  gap: 5rem;
}

.img-sobre img {
  max-width: 85%;
  border-radius: 120px;
  background-color: var(--medium-blue);
  box-shadow: 5px 5px 30px 5px var(--medium-blue);
}

.sobre .txt-sobre {
  color: var(--medium-blue);
}

.sobre .txt-sobre h2 {
  font-size: 3.25rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
}

.sobre .txt-sobre h2 span {
  color: var(--light-blue);
  display: block;
}

.sobre .txt-sobre p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: justify;

  margin-bottom: 1rem;
}

.btn-social a {
  font-size: 1.75rem;
  cursor: pointer;
  color: var(--medium-blue);
  padding-right: 0.75rem;
}

.btn-social a:hover {
  transform: scale(1.20);
  transition: 1s;
}