@import url(general.css);

/* estilo header +  nav */
header {
  width: 100%;
  padding: 2.5rem 4%;
  top: 0;
  left: 0;
  position: fixed;
  transition: 1s;
  z-index: 9999;
}

header.scrolling {
  background-color: var(--bg-color);
  padding: 1rem 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--medium-blue);
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  position: relative;
}

header nav.menu-desktop a:hover {
  color: var(--dark-blue);
  transform: scale(1.25);
  font-weight: 500;
  text-decoration: none;
}

/* header nav.menu-desktop li a::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: var(--medium-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease-in-out;
}

header nav.menu-desktop a:hover::after {
  width: 100%;
} */

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
}

header nav.menu-desktop ul span {
  display: inline-block;
  padding: 0 .75rem;
  font-size: 1.5rem;
}


/* estilo main > topo-site */
section.topo-site {
  padding: 18.5rem 12% 15rem 12%;
}

section.topo-site .txt-topo-site h1 {
  color: var(--medium-blue);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 6rem;
  margin-bottom: 0.75rem;
}

.topo-site .txt-topo-site h1 span {
  color: var(--medium-blue);
  font-size: 4rem;
  font-weight: 500;
}

.topo-site .txt-topo-site h3 {
  color: var(--light-blue);
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
}


/* estilo main > sobre */
section.sobre {
  padding: 12rem 12%;
}

section.sobre .flex {
  align-items: center;
  gap: 5rem;
}

.img-sobre img {
  max-width: 85%;
  border-radius: 120px;
  background-color: var(--medium-blue);
  box-shadow: 5px 5px 30px 5px var(--medium-blue);
}

.sobre .txt-sobre {
  color: var(--medium-blue);
}

.sobre .txt-sobre h2 {
  font-size: 4rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
}

.sobre .txt-sobre h2 span {
  color: var(--light-blue);
  display: block;
}

.sobre .txt-sobre p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.btn-social a button {
  border: none;
  background-color: #ffffff00;
  color: var(--medium-blue);
  font-size: 2rem;
  cursor: pointer;
  display: inline;
  padding-right: 2rem;
  transition: .5s;
}

.btn-social a button:hover {
  transform: scale(1.2);
}

.btn-social a button:focus {
  outline: none;
}



/* estilo main > habilidades  */
section.habilidades {
  padding: 12rem 12%;
}

section.habilidades .flex {
  flex-direction: column;
}

section.habilidades .titulo {
  font-weight: 500;
  color: var(--medium-blue);
  text-align: center;
}

section.habilidades h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

section.habilidades h3 {
  border-top: 1px solid var(--medium-blue);
  padding-top: 3rem;
  font-size: 2rem;
  margin: 6rem 0 3rem 0;
}

.skills {
  gap: 3.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills i {
  font-size: 5em;
}

.skills p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills p:hover {
  transition: .4s;
  transform: scale(1.1);
  cursor: pointer;
}

small {
  color: var(--medium-blue);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}


/* estilo main > projetos */
section.projetos {
  padding: 12rem 12%;
}

section.projetos .flex {
  justify-content: center;
  gap: 8.5rem;
}

section.projetos .titulo {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4.5rem;
  font-weight: 500;
  color: var(--medium-blue);
  text-align: center;
}

.img-port {
  width: 50rem;
  height: 20rem;
  background-size: cover;
  background-position: 100% 0%;
  transition: 3s;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 5px var(--medium-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 500;
  color: #3a5361;

  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  transition: .5s;
}



/* estiio main > contato */
section.contato {
  padding: 12rem 12%;
}

section.contato .titulo {
  text-align: center;
  margin-bottom: 0.75rem;
  color: var(--medium-blue);
}

section.contato h2 {
  font-size: 4rem;
  font-weight: 500;
}

section.contato h3 {
  font-size: 1rem;
  font-weight: 400;
}

form {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 3rem; */
}

.topo-form input,
textarea {
  background-color: var(--bg-color);
  width: 30rem;
  border: none;
  border-bottom: 1px solid #3a5361;
  display: flex;
  padding: 2.25rem 0 0.3rem 0.1rem;
}

.topo-form input:focus,
textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--medium-blue);
}

::placeholder {
  font-family: "Poppins", sans-serif;
  color: var(--medium-blue);
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 8rem;
}

form .btn-enviar {
  margin-top: 1.75rem;
  text-align: center;
}

form .btn-enviar input[type=submit] {
  width: 8rem;
  padding: 0.5rem;
  background-color: #50727b00;
  color: var(--medium-blue);
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 1s;
}

button:hover,
form .btn-enviar input:hover {
  border-radius: 30px;
  background-color: var(--medium-blue);
  color: var(--bg-color);
  box-shadow: 1px 1px 8px var(--dark-blue);
  transform: scale(1.0);
}



/* estilo main > footer */
footer {
  padding: 2rem 4%;
  /* text-align: center; */
  background-color: var(--medium-blue);
  box-shadow: 2px 2px 40px 5px var(--medium-blue);
}

footer .flex {
  justify-content: space-between;
}

footer.footer-border {
  padding-top: 2rem;
  border: none;
  border-top: 1px solid var(--bg-color);
}

footer p,
footer p a {
  text-align: center;
  color: var(--bg-color);
  text-decoration: none;
  padding-top: 1rem;

  font-size: 1.5rem;
  font-weight: 500;

}